baseURL = 'https://money.literallyjake.com'
languageCode = 'en-us'
title = "Notes on Basic Finance"
theme = 'PaperMod'
googleAnalytics = ''

[params.profileMode]
enabled = true
title = "Not rocket surgery."
subtitle = "Basic stuff we should have been taught in school."
imageUrl = "/images/hellofriend.png"
imageWidth = 120
imageHeight = 120

[outputs]
home = ["HTML", "RSS", "JSON"]

[params.fuseOpts]
isCaseSensitive = false
shouldSort = true
includeMatches = true
threshold = 0.3            # Lower = stricter match (0.0 = exact, 1.0 = match anything)
distance = 100             # Lower = prefer matches closer together
minMatchCharLength = 2     # Helps filter garbage inputs like "a" or "hi"
keys = [ "title", "summary", "content" ]  # 'permalink' not needed here

[[params.profileMode.buttons]]
name = "Posts"
url = "/posts"

[[params.socialIcons]]
name = "Github"
url = "https://github.com/Fibbot/financestuff"

[[module.mounts]]
source = 'images'
target = 'static/images'

[markup.goldmark.renderer]
unsafe = true